body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.span {
    background-color: pink;
    width: 100px;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 10px 20px;
    font-size: 12px;
}
.header-react{
    height: 55px;
    width: 100%;
    background-color: #2d4373;
}
.header-logo {
    width: 40px;
    margin: 7px;
}

.main-menu-item a {
    color: #000;
    height: 55px;
    line-height: 55px;
    text-align: center;
    width: 100px;
    margin: 0 15px;
    display: inline-block;
    cursor: pointer;
}
.menu-active{
    background-color: cadetblue;
    height: 55px;
    display: inline-block;
}
.state-outer{
    margin-top: 20px;
}
.sub-status-btn {
    width: 75px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    display: inline-block;
    background-color: beige;
    margin-right: 15px;
    border-radius: 5px;
    cursor: pointer;
}
.sub-status-btn a{
    color: #0f0f10;
    font-weight: bolder;
}
.item-desc-info {
    color:teal;
    margin-right: 30px;
}
.todolist-container {
    width: 500px;
    margin-left: 20px;
    margin-top: 20px;
    background-color: aliceblue;
    padding: 10px;
}
.item-time-info{
    float: right;
    position: relative;
}
.search-text-input {
    height: 35px;
}
.search-confirm-btn {
    width: 20px;
    margin-left: 10px;
    cursor: pointer;
    vertical-align: middle;
}


/* new version style */
.finished {
    background: url("./asset/img/finish.svg") no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 3px;
}
.unfinish {
    background: url("./asset/img/todo.svg") no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 3px;
}
.item-list, .item-list li{
    list-style: none;
}
.item-list {
    padding-left: 0px;
}
.item-list li {
    padding-left: 40px;
    border-bottom: 1px solid #ddd;
    position: relative;
    cursor: pointer;
}